@charset "utf-8";


#Login {
    margin: 0;
    padding: 0;
    background-color: rgba(252,250,242);
}

#Login #wrap {
    width: 1024px;
    margin: 0 auto;
}

#Login .introduction {
    text-align: center;
    color: #949494;
}

#Login .title {
    margin-top: 20px;
    padding-left: 20px;
    float: left;
}

#form {
    width: 480px;
    height: 400px;
    float: right;
    border: 1px solid #cccccc;
    border-radius: 20px;
    background-color: #757474;
    color: #cccccc;
}

#inputDate {
    width: 180px;
    height: 200px;
    margin: 70px auto 30px auto;
}

#inputDate h1  {
    text-align: center;
    margin-bottom: 50px;
}

#inputDate input {
    margin-top: -20px;
    vertical-align: top;
}

#inputDate #LoginButton {
    width: 70px;
    margin: 0 50px;
    border: 1px solid #cccccc;
    color: #757474;
    border-radius: 10%;

}

#inputDate #LoginButton:hover {
    background-color: #ffffff;
}

#Main {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    height: 100%;
}

.menubar {
    width:200px;
    height: 100%;
    float: left;
    background-color: #cccccc;
}



#Main .menu {
    width: 180px;
    height: 300px;
    margin: 0 auto;
}

.menu img {
    width: 70px;
    height: 50px;
    float: left;
}

.menu a {
    font-size: 20px;
    font-family: "Meiryo";
    color: #757474;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    padding-top: 15px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

#Main .main-content h1 {
    color: #757474;
    text-align: center;
}

#Main .title img {
    width: 200px;
    height: 200px;
    margin-top: -40px;
}

#Main #wrap {
    height: 100%;
}


