@charset "utf-8";

#Login {
	margin: 0;
	padding: 0;
	background-color: rgba(252, 250, 242);
}

#Login #wrap {
	width: 1024px;
	margin: 0 auto;
}

#Login .introduction {
	text-align: center;
	color: #949494;
}

#Login .title {
	margin-top: 20px;
	padding-left: 20px;
	float: left;
}

#Login #form {
	width: 480px;
	height: 400px;
	float: right;
	border: 1px solid #cccccc;
	border-radius: 20px;
	background-color: #757474;
	color: #cccccc;
}

#form #registerUser {
	font-size: 15px;
	width: 300px;
	margin: 0 auto;
}

#inputDate {
	width: 180px;
	height: 250px;
	margin: 70px auto 30px auto;
}

#inputDate h1 {
	text-align: center;
}

#inputDate input {
	margin-top: -20px;
	vertical-align: top;
}

#inputDate #LoginButton {
	width: 70px;
	margin: 0 50px;
	border: 1px solid #cccccc;
	color: #757474;
	border-radius: 10%;
}

#inputDate #LoginButton:hover {
	background-color: #ffffff;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrap {
	height: 100%;
}

.menubar {
	width: 200px;
	height: 100%;
	float: left;
	background-color: #cccccc;
}

.main-content {
	height: 100%;
}

.menu {
	width: 180px;
	height: 300px;
	margin: 0 auto;
}

.menu img {
	width: 70px;
	height: 50px;
	float: left;
}

.menu a, .menu #homeButton {
	font-size: 20px;
	font-family: "Meiryo";
	color: #757474;
	text-decoration: none;
	display: block;
	margin-top: 20px;
	padding-top: 15px;
}

.menu #homeButton {
	border: none;
	background-color: #cccccc;
}

.menu #homeButton:focus, .title #titleImage:focus {
	outline: 0;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

#Main .main-content h1 {
	color: #757474;
	height: 100px;
	text-align: center;
    margin-top: 0;
}

.title img {
    width: 200px;
    height: 200px;
    margin-top: -30px;
}

/*
新規登録画面のメインコンテンツの設定開始
*/

#createTask {
	font-family: "Meiryo";
	color: #757474;
}

#createTask .main-content {
	width: 1000px;
	height: 100%;
	float: right;
}

#createTask .form {
	width: 300px;
	height: 300px;
	margin: 30px;
}

#createTask .main-content .task-parameter {
	width: 300px;
	height: 30px;
	margin-bottom: 40px;
	border-bottom: solid 1px #757474;
}

#createTask .main-content .task-parameter .task-name, #createTask .main-content .task-parameter .task-date
	{
	outline: 0;
}

#createTask .main-content .task-parameter .name, #createTask .main-content .task-parameter .date
	{
	display: inline;
}

#createTask .main-content .task-parameter .task-name {
	width: 225px;
}

#createTask .main-content .task-parameter .task-date {
	width: 245px;
}

#createTask .submit {
	width: 300px;
}

#createTask .task-submit {
	height: 30px;
	width: 50px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

/* 新規登録画面のメインコンテンツの設定終了*/